<div class="container mt-4">
  <h2>Szolgáltatások</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Név</th>
        <th scope="col">Ár</th>
        <th scope="col">Műveletek</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>{{ service.name }}</td>
        <td>{{ service.price ? (service.price | currency: 'HUF' : 'symbol' : '1.0-0') : 'Nincs ár' }}</td>
        <td>
          <button class="btn btn-dark btn-sm" (click)="editService(service)">Módosítás</button>
          <button class="btn btn-danger btn-sm" (click)="deleteService(service.value)">Törlés</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4">
    <h3>Új szolgáltatás hozzáadása</h3>
    <form (submit)="addService()">
      <div class="form-group">
        <label for="newServiceName">Szolgáltatás neve</label>
        <input type="text" id="newServiceName" class="form-control" [(ngModel)]="newService.name" name="newServiceName" required />
      </div>
      <div class="form-group mt-2">
        <label for="newServicePrice">Ár (Ft)</label>
        <input type="number" id="newServicePrice" class="form-control" [(ngModel)]="newService.price" name="newServicePrice" required />
      </div>
      <button type="submit" class="btn btn-dark mt-3">Szolgáltatás hozzáadása</button>
    </form>
  </div>
</div>

<div *ngIf="editingService" class="mt-4">
  <h3>Szolgáltatás szerkesztése</h3>
  <form (submit)="saveEditedService()">
    <div class="form-group">
      <label for="editServiceName">Szolgáltatás neve</label>
      <input type="text" id="editServiceName" class="form-control" [(ngModel)]="editingService.name" name="editServiceName" required />
    </div>
    <div class="form-group mt-2">
      <label for="editServicePrice">Ár (Ft)</label>
      <input type="number" id="editServicePrice" class="form-control" [(ngModel)]="editingService.price" name="editServicePrice" required />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Módosítás mentése</button>
    <button type="button" class="btn btn-secondary mt-3" (click)="cancelEdit()">Módosítás törlése</button>
  </form>
</div>
