<div class="booking-list-container">
    <div *ngIf="bookings && bookings.length > 0; else noBookings" class="row">
      <div *ngFor="let booking of bookings" class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ booking.customer_name }}</h5>
            <p class="card-text">
              <strong>Fodrász:</strong> {{ booking.employee_name }} <br>
              <strong>Dátum:</strong> {{ booking.appointment_date }} <br>
              <strong>Időpont:</strong> {{ booking.appointment_time }} <br>
              <strong>Szolgáltatás:</strong> {{ booking.service_name || 'N/A' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noBookings>
      <p>No bookings available.</p>
    </ng-template>
  </div>
  