@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

h2{
    font-family: "Mea Culpa", cursive;
    font-style: normal;
    color: white;
    font-size: 76px;
}

#mainheaderer {
    background-color: rgba(0, 140, 255, 0.3) !important;
  }
  