@import 'bootstrap/dist/css/bootstrap.min.css';

.form-control {
    border: 1px solid black !important;
}

.form-select {
    border: 1px solid black !important;
}

body{
    background-color: black;
    background-image: url(../src/assets/img/bg.png);
    background-size: cover;
}